table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}

.game-board#player-one {
    float: left;
    display: inline;
}

.game-board#player-two {
    float: right;
    display: inline;
}